
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="">
</head>
<body >

    
    <header>
        {% include 'navbar.html.twig' %} 
        
    </header>


<main>


    <div style="position: relative;">
            
            <div style="position: relative;">
                <img class="imageacier" src="" alt="Description de l'image" style="margin-left: -20px;">
                <h1 class="titremetal" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  ">Coup'acier, votre source de métal sur mesure.</h1>
            </div>
    </div>  
    
    <style> 
       
        body {
            /*background-image: url("{{ asset('images/metal.jpg') }}");*/
            background-size: cover; /* Ajustez csette propriété selon vos besoins */
            background-position: center center; /* Ajustez cette propriété selon vos besoins */
            background-repeat: no-repeat;
            /* Ajoutez d'autres styles au besoin */
        }
        
        
       

        /* Ajoutez d'autres styles CSS pour le contenu de la page */
        
    </style>
        

    <div>
        <h1 class="decouvrir" style="margin-top: 80px; " href="">Découvrez nos produits</h1>
    </div>
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="background-color: #2F2F33; height: 200px;" >
        <div class="carousel-inner" >
            <div class="carousel-item active" >
                <div class="d-flex justify-content-around">
                    <div class="box d-flex flex-column align-items-center" id="box1" style="margin-bottom: 190px;">
                        <img src="" alt="Description de l'image" >
                        
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" style="margin-top: -25px;">
                                Découvrir
                            </button>
                        </div>
                    </div>

                    <div class="box d-flex flex-column align-items-center" id="box2" style="margin-bottom: 190px;">
                        <img src="" alt="Description de l'image">
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" style="margin-top: -25px;">
                                Découvrir
                            </button>
                        </div>
                    </div>
                    <div class="box d-flex flex-column align-items-center" id="box3" style="margin-bottom: 190px;">
                        <img src="" alt="Description de l'image">
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" style="margin-top: -25px;">
                                Découvrir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around">
                    <div class="box d-flex flex-column align-items-center" id="box4" style="margin-bottom: 190px;">
                        <img src="" alt="Description de l'image">
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" style="margin-top: -25px;">
                                Découvrir
                            </button>
                        </div>
                    </div>
                    <div class="box d-flex flex-column align-items-center" id="box5" style="margin-bottom: 190px;">
                        <img src="" alt="Description de l'image">
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" style="margin-top: -25px;">
                                Découvrir
                            </button>
                        </div>
                    </div>
                    <div class="box d-flex flex-column align-items-center" id="box6" style="margin-bottom: 190px;">
                        <img src="" alt="Description de l'image">
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary" style="margin-top: -25px;">
                                Découvrir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ajoutez d'autres éléments de carrousel si nécessaire -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" style="margin-bottom: 350px; margin-top: 25px;" href="{{ path('produits') }}">Découvrez tous nos produits</a>

        </div>
        
</main>





    <!-- Footer -->
    <footer>
        {% include 'footer.html.twig' %} 
    </footer>
    <!-- Footer -->
    


            
    
</body>




    </html>










   