{% block body %}
    {% include 'navbarbackappro.html.twig' %} 
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'un produit</title>
</head>
<body class="bg-dark">
  <div class="container my-5">
      <div class="container bg-primary p-5 rounded">
          <h1 class="text-center text-light">Ajout d'un produit</h1>
          
          <form method="post" action="" enctype="multipart/form-data">
              <div class="mb-3">
                  <label for="nom" class="form-label text-light">Nom</label>
                  <input type="text" name="nom" class="form-control" id="nom" placeholder="Veuillez saisir votre nom" required>
              </div>
              <div class="mb-3">
                  <label for="prix" class="form-label text-light">Prix</label>
                  <input type="text" name="prix" class="form-control" id="prix" placeholder="Veuillez saisir le prix" required>
              </div>
              <div class="mb-3">
                  <label for="masselineaire" class="form-label text-light">Masse linéaire</label>
                  <input type="text" name="masselineaire" class="form-control" id="masselineaire" placeholder="Veuillez saisir la masse linéaire" required>
              </div>
              <div class="mb-3">
                  <label for="prixdecoupe" class="form-label text-light">Prix de découpe</label>
                  <input type="text" name="prixdecoupe" class="form-control" id="prixdecoupe" placeholder="Veuillez saisir le prix de découpe" required>
              </div>
              <div class="mb-3">
                  <label for="longueur" class="form-label text-light">Longueur</label>
                  <input type="text" name="longueur" class="form-control" id="longueur" placeholder="Veuillez saisir la longueur" required>
              </div>
              <div class="mb-3">
                  <label for="coef" class="form-label text-light">Coef</label>
                  <input type="text" name="coef" class="form-control" id="coef" placeholder="Veuillez saisir le coefficient" required>
              </div>
              <div class="mb-3">
                  <label for="remise" class="form-label text-light">Remise</label>
                  <input type="text" name="remise" class="form-control" id="remise" placeholder="Veuillez saisir la remise" required>
              </div>
              <div class="mb-3">
                  <label for="image" class="form-label text-light">Image</label>
                  <input type="file" name="image" class="form-control" id="image" accept="image/*" required>
              </div>
              <div class="mb-3">
                  <label for="description" class="form-label text-light">Description</label>
                  <input type="text" name="description" class="form-control" id="description" placeholder="Veuillez saisir la description" required>
              </div>
              
              <div class="mb-3 text-end">
                  <button type="submit" class="btn btn-light">Enregistrer</button>
              </div>
          </form>
      </div> 
  </div>
  <footer>
    {% include 'footer.html.twig' %} 
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eEZUnKUVEMrZqDfFZzSQxlJvK1E21PJoQx9CK2qxBn3x4I5QVbFqCr7GJ3DdP3Z" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
