<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande Fournisseur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .order-container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <header>
        {% include 'navbar.html.twig' %}
    </header>

    <div class="container order-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Commande Fournisseur</h1>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="quantite_commander">Quantité commandée</label>
                        <input type="number" class="form-control" id="quantite_commander" name="quantite_commander" placeholder="Entrez la quantité commandée" required>
                    </div>
                    <div class="form-group">
                        <label for="quantite_commander"></label>
                        <input type="number" class="form-control" id="quantite_commander" name="quantite_commander" placeholder="Entrez le nom du produit commandée" required>
                    </div>
                    <div class="form-group">
                        <label for="statut">Statut</label>
                        <select class="form-control" id="statut" name="statut" required>
                            <option value="en_cours_de_livraison">En cours de livraison</option>
                            <option value="livree">Livrée</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        {% include 'footer.html.twig' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
