<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Client</title>
    <!-- Inclure les fichiers CSS Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Inclure les icônes Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        /* Styles CSS personnalisés */
        .list-group-item {
            border: none;
        }
    </style>
</head>
<body>
    <!-- Inclure la barre de navigation -->
    {% include 'navbar.html.twig' %}

    <div class="container mt-5">
        <!-- Contenu de la page -->
        <div class="row">
            <div class="col-md-6">
                <h3>Informations Client <i class="fas fa-info-circle"></i></h3>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-info-circle mr-2"></i> <a href="{{ path('informations') }}">Informations</a></li>
                    <li class="list-group-item"><i class="fas fa-list-ul mr-2"></i> <a href="#">Mes Listes d'Envies</a></li>
                    <li class="list-group-item"><i class="fas fa-history mr-2"></i> <a href="#">Historique de ses Commandes</a></li>
                    <li class="list-group-item"><i class="fas fa-file-invoice mr-2"></i> <a href="#">Factures</a></li>
                    <li class="list-group-item"><i class="fas fa-search mr-2"></i> <a href="#">Consultations de ses Devis</a></li>

                </ul>
            </div>
            <div class="col-md-6">
                <!-- Contenu supplémentaire ici -->
            </div>
        </div>
       
    </div>

    <!-- Bouton de déconnexion -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-danger">Déconnexion</a>
            </div>
        </div>
    </div>
    

    <!-- Inclure le pied de page -->
    {% include 'footer.html.twig' %}

    <!-- Inclure les fichiers JavaScript Bootstrap (optionnel) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Inclure les icônes Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha384-nrcS50J63uJYY1bOb5gqqSnK7nRYIoCb2QiFAqw5Q20VXwy9d2DopnWly33JWSSG" crossorigin="anonymous"></script>
</body>
</html>
