{% include 'navbar6.html.twig' %} 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 30vh;">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Panierr</h1>
             
            </div>
        </div>
    </div>
</body>
</html>
