{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h2>Qui sommes-nous</h2>
                    </div>
                    <div class="card-body">
                        <!-- Section 1: Contexte du projet -->
                        <h3>1. Contexte du projet</h3>
                        <h4>1.1 Notre société</h4>
                        <p>La société Coup’Acier a été créée en 2015 avec pour mission de fournir à ses clients, qu'ils soient des entreprises ou des particuliers, des métaux de haute qualité. Depuis notre création, nous avons aidé plus de 10 000 clients à réaliser leurs projets grâce à nos services de vente et de découpe de métaux.</p>

                        <h4>1.2 Implantation géographique</h4>
                        <p>Notre siège social est situé à Nanterre, où nous centralisons notre administration et stockons une partie de nos produits. Nous disposons également de deux autres entrepôts équipés de moyens de découpe en Normandie et dans les Hauts-de-France. Ces implantations stratégiques nous permettent de répondre rapidement aux besoins de nos clients sur l'ensemble du territoire français.</p>

                        <h4>1.3 Quelques données du groupe</h4>
                        <ul>
                            <li>En expansion régulière depuis 2015</li>
                            <li>Chiffre d’affaires annuel de 10 M €</li>
                            <li>100 collaborateurs</li>
                            <li>Plus de 10 000 clients depuis 2015</li>
                        </ul>

                        <!-- Section 2: La motivation de ce projet informatique -->
                        <h3>2. La motivation de ce projet informatique</h3>
                        <p>Actuellement, nos ventes s'effectuent principalement en direct, où nos clients se rendent physiquement à nos comptoirs pour passer leurs commandes. Ce processus, bien qu'efficace, présente certaines limites, notamment en termes de disponibilité des ateliers de découpe et de gestion des commandes.</p>

                        <p>Notre site web actuel, bien qu'informatif, ne permet pas de réaliser des commandes en ligne. Pour améliorer notre service client et optimiser nos opérations, nous avons lancé un projet visant à développer une application web, mobile, et de bureau. Ces applications permettront à nos clients d'effectuer leurs achats en ligne, de commander des découpes sur mesure, et de choisir les options de livraison qui leur conviennent.</p>

                        <p>Ce projet s'inscrit dans notre volonté de digitaliser nos processus afin de mieux servir nos clients, d'accroître notre efficacité opérationnelle, et de soutenir notre croissance continue.</p>

                        <p>Pour toute question ou demande d'information supplémentaire, n'hésitez pas à nous contacter via les coordonnées disponibles sur notre site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <br>

    <br>


    <footer>
        {% include 'footer.html.twig' %}
    </footer>

 


{% endblock %}
